{% extends 'base.html' %}

{% block title %}Фильмы и сериалы{% endblock %}

{% block content %}
    <div class="row">

        <div class="col">
            <h1 class="mb-4">Лучшие фильмы</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% if high_rated_movies %}
                    {% for movie in high_rated_movies %}
                        {% include 'includes/high_movie_card.html' %}
                    {% endfor %}
                {% else %}
                    <h4>Фильмов нет</h4>
                {% endif %}
            </div>
        </div>

        <div class="col">
            <h1 class="mb-4">Лучшие сериалы</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% if high_rated_tvshows %}
                    {% for tvshow in high_rated_tvshows %}
                        {% include 'includes/high_tvshow_card.html' %}
                    {% endfor %}
                {% else %}
                    <h4>Сериалов нет</h4>
                {% endif %}
            </div>
        </div>
    </div>

    <hr class="mt-4">

    <form method="get" class="mb-4 w-25">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Введите название для поиска..."
                   value="{{ search_query }}">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </form>

    <div class="row align-items-center mb-3">
        <div class="col">
            <h1>Все фильмы</h1>
            <h5>Всего фильмов: {{ movie_count }}</h5>
        </div>
        <div class="col text-end">
            <a href="{% url 'add_movie' %}" class="btn btn-primary">Добавить фильм</a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-5 g-2">
        {% if movies %}
            {% for movie in movies %}
                {% include 'includes/movie_card.html' %}
            {% endfor %}
        {% else %}
            <h4>Фильмов нет</h4>
        {% endif %}
    </div>

    <!-- Пагинация для фильмов -->
    <div class="pagination mt-4">
    <span class="step-links">
        {% if movies.has_previous %}
            <a href="?movies_page=1">&laquo; первая</a>
            <a href="?movies_page={{ movies.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ movies.number }} из {{ movies.paginator.num_pages }}.
        </span>

        {% if movies.has_next %}
            <a href="?movies_page={{ movies.next_page_number }}">следующая</a>
            <a href="?movies_page={{ movies.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
    </div>

    <hr class="mt-4">

    <div class="row align-items-center mb-3">
        <div class="col">
            <h1>Все сериалы</h1>
            <h5>Всего Сериалов: {{ tvshow_count }}</h5>
        </div>
        <div class="col text-end">
            <a href="{% url 'add_tvshow' %}" class="btn btn-primary">Добавить сериал</a>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-5 g-2">
        {% if tvshows %}
            {% for tvshow in tvshows %}
                {% include 'includes/tvshow_card.html' %}
            {% endfor %}
        {% else %}
            <h4>Сериалов нет</h4>
        {% endif %}
    </div>

    <!-- Пагинация для сериалов -->
    <div class="pagination mt-4">
    <span class="step-links">
        {% if tvshows.has_previous %}
            <a href="?tvshows_page=1">&laquo; первая</a>
            <a href="?tvshows_page={{ tvshows.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ tvshows.number }} из {{ tvshows.paginator.num_pages }}.
        </span>

        {% if tvshows.has_next %}
            <a href="?tvshows_page={{ tvshows.next_page_number }}">следующая</a>
            <a href="?tvshows_page={{ tvshows.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
    </div>


{% endblock %}