<div class="card mb-3 col-3 mx-3">
    <div class="card-body">
        <h5 class="card-title
                {% if review.rating >= 4 %}text-success
                {% elif review.rating >= 2 %}text-warning
                {% else %}text-danger{% endif %}">
            {{ review.user }} -
            {% for i in review.full_stars %}
                ★
            {% endfor %}
            {% for i in review.empty_stars %}
                ☆
            {% endfor %}
        </h5>
        {% if review.user == user %}
            <hr>
            <div class="row">
                <a href="{% url 'rate_media' review.media.id review.id %}" class="text-decoration-none text-reset col">
                    <h6 class="card-subtitle mb-2 text-muted">Редактировать</h6>
                </a>
                <form method="POST" action="{% url 'delete_rating' review.media.id review.id %}" class="col">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link text-decoration-none text-reset p-0">
                        <h6 class="card-subtitle mb-2 text-muted">Удалить</h6>
                    </button>
                </form>
            </div>
        {% endif %}
        <p class="card-text">{{ review.text }}</p>
    </div>
</div>